

octv = 3

mainOctv = math((octv - .5)/2, 'floor')

// https://w3c.github.io/smufl/latest/tables/staves.html
stave = '\e014\e014\e014\e014\e014\e014\e014\e014'
triple-ledger = '\e012'
double-ledger = '\e011'
single-ledger = '\e022'
sharp-symbol = '\e262'
flat-symbol = '\e260'

@font-face
  font-family Bravura
  src url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/67868/Bravura.woff")

.score
  font-family Bravura
  font-size 60px
  font-weight 100
  position relative
  padding 1em 1em
  white-space nowrap
  line-height 2
  width 2.94em
  height 1.04em
  &:before
    content stave
    position absolute
    transform-origin left
    letter-spacing -1px
.clef
  font-family Bravura
  display inline-block
  transform translateY(2em / -8)
  margin 0 .2em 0 .2em
.signature
  display inline-block
  width 90px
.sharp
.flat
  >span
    display inline-block
.tonic
  font-family Bravura
  display inline-block
  margin 0 .5em
  position relative

.tonic.f3
  top (1em*3/4)
  &:after
    content triple-ledger
    position relative
    left -0.46em
    top (1em/4)

.tonic.g3
  top (1em*5/8)
  &:after
    content double-ledger
    position relative
    left -0.46em
    top (1em/4)

.tonic.a3
  top (1em/2)
  &:after
    content double-ledger
    position relative
    left -0.46em
    top (1em*3/8)

.tonic.b3
  top (1em*3/8)
  &:after
    content single-ledger
    position relative
    left -0.37em
    top (-1em/8)

.tonic.c4
  top (1em/4)
  &:after
    content single-ledger
    position relative
    left -0.37em

.tonic.d4
  top (1em/8)

.tonic.e4
  top 0

.tonic.f4
  top -(1em/8)

.tonic.g4
  top -(1em/4)

.tonic.a4
  top -(1em*3/8)

.tonic.b4
  top -(1em/2)

.tonic.c5
  top -(1em*5/8)

.tonic.d5
  top -(1em*6/8)

.tonic.e5
  top -(1em*7/8)

.tonic.f5
  top -(1em)

.tonic.g5
  top -(1em*9/8)

.tonic.a5
  top -(1em*10/8)
  &:after
    content single-ledger
    position relative
    left -0.37em
    top 0

.tonic.b5
  top -(1em*11/8)
  &:after
    content single-ledger
    position relative
    left -0.37em
    top (1em*1/8)

.tonic.c6
  top -(1em*12/8)
  &:after
    content double-ledger
    position relative
    left -0.46em
    top (1em*5/8)


.sharp
  left -0.27em
  &:before
    content sharp-symbol
    position relative
    left -0.15em
.flat
  left -0.27em
  &:before
    content flat-symbol
    position relative
    left -0.15em
