doctype html
html(lang="eng")
    head
        title Web Trumpet
        meta(charset="UTF-8")
        link(rel="stylesheet", href="trumpet.css")
        link(rel="stylesheet", href="score.css")
    body
        #container
            #main-pipe
                .filler
            #lead-pipe
            #receiver
            #mouthpiece-stem
            #mouthpiece-cup
            #bell
                .bottom-flare
                .top-flare
            #valves
                .valve.one
                    .bottom-cap
                    .top-cap
                    .piston
                    .button
                .valve.two
                    .bottom-cap
                    .top-cap
                    .piston
                    .button
                .valve.three
                    .bottom-cap
                    .top-cap
                    .piston
                    .button

            - const clef="\ue050"
            - const note="\ue0a2"
            .score
                span.clef #{clef}
                span.tonic.f5.sharp #{note}
    script(src="trumpet.js")