doctype html
html
    head
        title Web Trumpet
        link(rel="stylesheet", href="trumpet.css")
    body
        #container
            #main-pipe
                .filler
            #lead-pipe
            #receiver
            #mouthpiece-stem
            #mouthpiece-cup
            #bell
                .bottom-flare
                .top-flare
            #valves
                .valve.one
                    .bottom-cap
                    .top-cap
                    .piston
                    .button
                .valve.two
                    .bottom-cap
                    .top-cap
                    .piston
                    .button
                .valve.three
                    .bottom-cap
                    .top-cap
                    .piston
                    .button
        script(src="trumpet.js")